  <div>Welcome to {{title}}, enable camera to post video emoji!</div>
  <div id="waiting">Connecting to chat server...</div>
  <div id="second_counter"></div>
  <div id="conversation"></div>
  <div id="submission">
    <input type="text" placeholder="say something..">
  </div>
  <div id="gauge">
  	<img src='http://www.online-utility.org/image/ImageCache?file=2/25/Red.svg/800px-Red.svg' id="red_square"/> <br/>
  	RECORDING...
  </div>
  <div id = "complete_text">
  	EMOJI RECORDED!
  </div>
  <div id="webcam_stream"></div>
  <div id="video_container"></div>